@import "bootstrap";


.hero {
  background: cyan;
}

.lists-container {
  height: 700px;
}


.links-container {
  width: 100%;
}

.link-container {
  background-color: gray;
  width: 300px;
}

.pinned-list {
  background-color: red;
}

.all-links-list {
  background-color: orange;
}



// FORM


.form-container {

}

.form-input {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: 2px solid gray;
}