@import "bootstrap";


.hero {
  height: 50vh;
}

.lists-container {
  height: 700px;
}


.links-container {
  width: 100%;
}

.link-container {
  background-color: gray;
  width: 300px;
}

.pinned-list {
  background-color: red;
}

.all-links-list {
  background-color: orange;
}

